@font-face {
  font-family: "Metropolis Black";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-BlackItalic.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Black Italic";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-Black.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Bold";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Bold Italic";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-BoldItalic.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Extra Bold";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-ExtraBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Extra Bold Italic";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-ExtraBoldItalic.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Regular";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis Regular Italic";
  src: local("Metropolis"),
    url("./assets/fonts/Metropolis-RegularItalic.otf") format("opentype");
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Metropolis Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
